<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/logo.svg" type="image/x-icon">
  <link rel="stylesheet" href="styles/league.css">
  <link rel="stylesheet" href="styles/dashboard.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Ligas & Campeonatos | PData</title>
</head>

<body>
  <div class="sidebar">
    <ul class="logo">
        <li>
            <a href="/dashboard">
                <img src="assets/logo-xl.svg" alt="">
            </a>
        </li>
    </ul>
    <ul class="list-item">
        <li>
            <a href="/dashboard">
                <span class="material-icons">
                    home
                </span>
                Home
            </a>
        </li>
        <li>
            <a href="/club">
                <span class="material-icons">
                    sports_soccer
                </span>
                Clubes
            </a>
        </li>
        <li>
            <a href="/" class="logout">
                <span class="material-icons">
                    meeting_room
                </span>
                Sair
            </a>
        </li>
    </ul>
</div>
  <div class="content">
    <div class="leagues">
      <h2>Ligas e Campeonatos</h2>
      <div class="league-item">
        <h3 class="league-country">Brasil</h3>
        <a href="/league/brasileirao" class="league-name">Campeonato Brasileiro</a>
      </div>
    </div>
  </div>
</body>

</html>