/*White Shades*/
$white: rgb(255, 255, 255);
$smallText: rgba(255,255,255,.5);

/*Black shades*/
$blackTwelve: rgba(0,0,0,.12);

/*Blue Shades*/
$darkBlue: #050047;
$darkerBlue: #050a3b;
$mediumBlue: #05037e;
$softBlue: #00a1ff;
$borderBlue:rgb(1,51,201);

/*Orange Shades*/

$orange: rgb(247, 150, 39);

/*Other Shades */
$backgroundBox: rgba(197, 197, 197, 0.26);